body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #e7e7e7;
}

.view {
    width: 1024px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border-radius: 1px;
    width: 625px;
    margin: 25px auto 30px auto;
    position: relative;
    left: 200px;
}

.card .content {
    padding: 30px;
}

.card img {
    display: block;
    margin: 0 auto;
    border-radius: 2px;
}

.card iframe {
    margin-top: 20px;
    width: 100%;
    height: 510px;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

#stamp {
    font-family: 'Special Elite';
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 5px;
    font-size: 25px;
    transform: rotateZ(15deg);
    color: rgba(0, 0, 0, 0.1);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.card h1 {
    color: #555;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 280px;
    background: #03A9F4;
    color: #f8f8f8;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.side {
    position: fixed;
    width: 370px;
    padding-right: 20px;
    top: 0;
    color: #e3f2fd;
}

.side ul {
    list-style-type: square;
    padding-left: 20px;
}

.side ul li {
    /*margin-bottom: 8px;*/
}

.code {
    width: 355px;
    position: fixed;
    background: rgb(248, 248, 248);
    top: 330px;
    border-radius: 1px;
    transform: rotateZ(-2deg);
    -ms-transform: rotate(-2deg);
}

.code pre, .code pre code {
    border: none;
    font-size: 12px;
    margin-top: 0;
}

.side h2 {
    font-weight: bold;
}

table {
    margin: 0 auto;
}

th {
    border-bottom: 1px solid #ddd;
}

td, th {
    padding: 5px;
    min-width: 120px;
}

label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
}

form div {
    margin: 5px 0;
}

input[type="submit"] {
    display: block;
    margin: 15px auto 0;
}

.fit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.shadow {
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.26),
        0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  &:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
  &:before {
    content: 'ON';
    color: $activeColor;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }    
}

#footer {
    text-align: center;
    font-size: 10px;
    color: #777;
    margin: 30px 10px 10px;
}
