<!DOCTYPE html>
<html ng-app="panhinda">
<head>
  <title>Panhinda ePub Reader</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="css/simple-sidebar.css"/>
  <link rel="stylesheet" href="css/jquery.contextMenu.css"/>
 	<link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/ColorPicker.css" />
  <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.ui.position.min.js"></script>
  <script type="text/javascript" src="js/jquery.contextMenu.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/rainbow-custom.min.js"></script>
  <script type="text/javascript" src="js/ColorPicker.js"></script>
      <script type="text/javascript" src="js/FileSaver.js"></script>
  <script type="text/javascript" src="js/TextHighlighter.js"></script>
  <style>

    #readerpane{
      background-color:#f1f1f1;
      height: 100vh;
    }
    #mediapane{
      background-color:#454545;
      height: 100%;
    }
    #overlayswitch{
      background-color:#435C55;
      height: 100vh;
    }
    .nopadding {
      padding: 0 !important;
      margin: 0 !important;
    }
    .mediabox{
      background-color: #328C67;
    }

  </style>
</head>
<body ng-app="">
  <div id="wrapper" ng-controller="application">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li>
          <img src="images/panhindaLogo.png" height="70px" width="200px">
        </li>
	<li>
            <input type="text" id="epublink" class="form-control" value="epub link here" />
            <button class="btn btn-default" id="downloadepub">download</button>
 
        </li>
        <li>
            <a href="#getoverlays" data-toggle="modal" data-target="#getoverlays">Get Overlays</a>
        </li>
        <li>
            <div class="color-picker row"></div>
        </li>
	<li>
         <button class="btn btn-default" id="rmvHighlight">remove</button>
         <button class="btn btn-default" id="downloadHighLight">download highlight</button>
         </li>
        <li>
            <a href="#notes">Create Note</a>
        </li>
        <li>
             <div id="toc"></div>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9" id="readerpane">
                    <div id="mainFrame" class="context-menu-one">
                     asdjal kjkl;jlk kl;kk pok;k'
                    </div>
                </div>
                <div class="col-lg-3 nopadding" id="mediapane">
                  <div class="row">
                    <div class="col-lg-1 nopadding" id="overlayswitch">
                      <button class="btn" ng-class="selected=='1'?'btn-info':'btn-primary'" ng-click="overlay1()">1</button>
                      <button class="btn" ng-class="selected=='2'?'btn-info':'btn-primary'" ng-click="overlay2()">2</button>
                      <button class="btn" ng-class="selected=='3'?'btn-info':'btn-primary'" ng-click="overlay3()">3</button>
                    </div>
                    <div class="col-lg-11 nopadding">
                      <div class="panel-group">
                        <div class="panel panel-default" ng-repeat="item in items">
                          <div class="panel-heading">
                            {{item.panelHedding}}
                            <button class="btn pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn pull-right"><span class="glyphicon glyphicon-eye-open"></span></button>
                          </div>
                          <div class="panel-body">{{item.panelContent}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <!-- /#wrapper -->

    <!-- Modal -->
  <div id="getoverlays" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Overlays</h4>
        </div>
        <div class="modal-body">
          <input type="file" id="addOverlay">
          <button class="btn btn-default" id="addoverlaybtn">Add</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <script>
var DownLoadBtn = document.getElementById('downloadepub');
        var DownLoadLink=document.getElementById('epublink');
 
        DownLoadBtn.addEventListener('click', function () {
 $.post("download.php",
             {
                     epuburl: DownLoadLink.value,
                        
             },
             function(data, status){
                  alert("Data: " + data + "\nStatus: " + status);
 
            $.get("extractor.php",function(data, status){
                  alert("Data: " + data + "\nStatus: " + status);});
 
        $( "#toc" ).load( "book/OPS/xhtml/toc.xhtml", function() {
             alert( "Load was performed." );
            });
 
            
             });
});
        $("#toc").on('click', 'a',function(ev) {
    // Stop regular handling of "click" in most non-IE browsers
   
var path = $(this).attr("file");
alert(path);
    // Load the new content into the div (same code you had)
        $.post("extractorUrl.php",
             {
                     file: "book/OPS/xhtml/"+path,
                        
             },
             function(data, status){
                  alert("Data: " + data + "\nStatus: " + status);
        });
 
    $('#mainFrame').load("book/OPS/xhtml/"+path);
 
    // Stop regular handling of "click" in IE (and some others)
    return false;
});
(function(){
 
        var heightlight=document.getElementById('heightlight');
        var colors = new ColorPicker(document.querySelector('.color-picker'));
        var sandbox=document.getElementById('mainFrame');
        var hltr = new TextHighlighter(sandbox);
        var serialized = '';
        var rmvHighlight=document.getElementById('rmvHighlight');
        var downloadHighLight=document.getElementById('downloadHighLight');
        var addoverlay=document.getElementById('addoverlaybtn');
 
         rmvHighlight.addEventListener('click', function () {
                hltr.removeHighlights();
            });
 
         colors.onColorChange(function (color) {
                hltr.setColor(color);
            });
 
    /*   downloadHighLight.addEventListener('click', function () {
                serialized = hltr.serializeHighlights();
              //  console.log(serialized);
 
                var blob = new File([serialized],  "helloworld.txt",{type: "text/plain;charset=utf-8"});
                saveAs(blob, "helloworld.txt");
                hltr.removeHighlights();
            });
 
        addoverlay.addEventListener('click', function () {
                
        hltr.removeHighlights();
        var fileInput = document.getElementById('addOverlay');
        var file = fileInput.files[0];
        var reader = new FileReader();
 
 
        reader.addEventListener("loadend", function() {
        serialized= reader.result;
        console.log(reader.result)
        hltr.deserializeHighlights(serialized);
                       
 
    });
         reader.readAsText(file);  
    
});
 
        
 
*/
        })();


  $(function() {
      $.contextMenu({
          selector: '.context-menu-one',
          callback: function(key, options) {
              var m = "clicked: " + key;
              window.console && console.log(m) || alert(m);
          },
          items: {
              "edit": {name: "Edit", icon: "edit"},
              "cut": {name: "Cut", icon: "cut"},
             copy: {name: "Copy", icon: "copy"},
              "paste": {name: "Paste", icon: "paste"},
              "delete": {name: "Delete", icon: "delete"},
              "sep1": "---------",
              "quit": {name: "Quit", icon: function(){
                  return 'context-menu-icon context-menu-icon-quit';
              }}
          }
      });

      $('.context-menu-one').on('click', function(e){
          console.log('clicked', this);
      })

      $("iframe").contents().find("body").addClass("context-menu-one");
  });
  </script>
</body>
</html>
